<div class="col-md-12">
  <h2 class="machine-drinks">MACHINE DRINKS</h2>
  <p class="tab-box details">Click on any drink to find it's recipe!!</p>
  <mat-tab-group>
    <mat-tab label="DRINKS">
      <mat-list role="list">
        <mat-list-item role="listitem" (click)="openLemon()">
          Lemon Tea
        </mat-list-item>
        <mat-list-item role="listitem" (click)="openCoffee()">
          Coffee
        </mat-list-item>
        <mat-list-item role="listitem" (click)="openChocolate()">
          Chocolate
        </mat-list-item>
      </mat-list>
    </mat-tab>
  </mat-tab-group>
</div>

